h1:hover {
	color: #ff1a1a; /*this is red*/
	background-color: violet;
}

h1 {
	font-size: 48px;
}

h2:hover {
	color: #d641f4; /*this is violet*/
	background-color: #f4425f;
}


h2 {
	font-size: 36px;
}

a:visited {
	color: darkred;
}

.firstinst:hover {
	color: #ffa600; /*this is orange*/
	background-color: indigo;
}

.secondinst:hover {
	color: #ffff1a; /*this is yellow*/
	background-color: blue;
}

.thirdinst:hover {
	color: #00ff00; /*this is green*/
	background-color: green;
}

.fourthinst:hover {
	color: #1a1aff; /*this is blue*/
	background-color: yellow;
}

.fifthinst:hover {
	color: #7700cc; /*this is indigo*/
	background-color: orange;
}

.button {
	background-color: #f44336;
	font-size: 18px;
	padding: 16px;
	border-radius: 8px;
	border: 2px solid black;
}

.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#maindiv {
	width: 80%;
	max-width: 800px;
	min-width: 400px;
	border: 10px line black;
	min-height: 500px;
	height: 100%;
	text-align: center;
}
.headerdiv {
	font-size: 48px;
}


.bodydiv {
	background-color: white;
}

.instructions {
	width: 100%;
	height: 100%;
	font-size: 24px;
}

.mona {
	width: 50%;
	height: 40%;
	max-height: 120px;
	max-width: 100px;
}

.secondHalf {
	text-align: center;
	font-size: 24px;
}

li {
	list-style-image: url('XSNote.jpg');
}

body {
	background-image: url('rainbow.png');
	background-size: cover;
	color: black;
	width: 50%;
	margin: 10px auto;
	height: 100%;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
}