#canvas {
    position: fixed;
    display: block;
    position: 0 0;
    margin-left: -8px;
    margin-top: -8px;
}

#fulldiv {
	margin: 20px auto;
	width: 100%;
	height: 80%;
}

.uploadHalf {
	text-align: center;
}

#output {
	position: center;
	height:300px
}

.convert {
	border-radius: 16px;
	font-size: 36px;
	background-color: blue;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	color: white;
}

.start {
	background-color: lawngreen;
	font-size: 32px;
	border-radius: 16px;
	float: left;
	font-family: 'Amatic SC', cursive;
	color: white;
}

.stop {
	background-color: tomato;
	font-size: 32px;
	border-radius: 16px;
	float: left;
	font-family: 'Amatic SC', cursive;
	color: white;
}

.back {
	background-color: lemonchiffon;
	font-size: 32px;
	border-radius: 16px;
	float: right;
	font-family: 'Amatic SC', cursive;
}

.uploadedImg {

}

.wordRed {
	color: red;
}

.wordGreen {
	color: green;
}

.wordBlue {
	color: blue;
}

h1 {
	text-align: center;
	font-size: 48px;
}

h2 {
	color: black;
	font-size: 36px;
}

hr {
	background-color: black;
	border-top: 3px dotted white;
}

body {
	background-color: lavender;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
}

