#canvas {
    position: fixed;
    display: block;
    position: 0 0;
    margin-left: -8px;
    margin-top: -8px;
}

.convert {
	border-radius: 16px;
	font-size: 36px;

}

.start {
	background-color: lawngreen;
	font-size: 32px;
	border-radius: 16px;
	float: left;
}

.stop {
	background-color: tomato;
	font-size: 32px;
	border-radius: 16px;
	float: left;
}

.back {
	background-color: lemonchiffon;
	font-size: 32px;
	border-radius: 16px;
	float: right;
}

.uploadedImg {
	
}

h1 {
	text-align: center;
}

hr {
	background-color: #fff;
	border-top: 2px dotted #8c8b8b;
}

